
.vscode/
attic/
autom4te.cache/
ar-lib
config.h
config.log
config.status
Makefile
*.a
*.o
xpar
configure~
config.h.in~
config.sub
configure.ac~
.deps/
aclocal.m4
compile
config.h.in
configure
depcomp
install-sh
Makefile.in
missing
stamp-h1
config.guess
ChangeLog.tmp
test-driver
.dirstamp
conftest
conftest.*
xpar-*.tar.*
xpar-*.zip
tests/t_suite
tests/mkdata
tests/damage
bench/timeit
tests/*.log
tests/*.trs
test-suite.log
bench-results/
__pycache__/
